/* Font stuff */
body {
  background-color: #393939;
  color: #f1f1f1;
  margin: 0;
  font-family: "Lora", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
#lecture-list li {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.header {
  position: sticky;
  margin: 0;
  width: 100%;
  background: #555;
  color: #f1f1f1;
}

.header h1 {
  margin: 0;
  padding: 8px 16px 8px 16px;
}

#three_lines:hover {
  color: #ffffff;
  transition: 0.3s;
}

.overlay {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  position: fixed;
  overflow-x: hidden;
  transition: 0.9s;
}

#main-sidenav {
  z-index: 2;
  background-color: #111;
  padding-top: 60px;
  float: left;
}

#main-sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#main-sidenav a:hover {
  color: #f1f1f1;
}

#lecture {
  z-index: 1;
  background-color: #f1f1f1;
}

#lecture-sidenav {
  display: inline-block;
}

#lecture-list li {
  list-style-position: inside;
  color: #818181;
  padding-top: 0px;
  padding-left: 16px;
  padding-bottom: 0px;
  transition: 0.3s;
}

#lecture-list li:hover {
  color: #a1a1a1;
}

.lecture-fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.lecture-fade-out {
  animation: fadeOut 0.3s;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#lecture-textbox {
  padding-top: 60px;
  width: 80vw;
  overflow: auto;
}

.lecture-text {
  display: none;
  margin-left: 300px;
  text-align: justify;
  opacity: 0;
}

#home {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  transition: margin-left 0.9s;
  padding: 20px;
}
